@{
    ViewBag.Title = "Hardware Support Docs";
}
<h2>@ViewBag.Title</h2>

<h4>This site will be the single storage location for drafts, and published Deficiency Reports.</h4>
<h4>A Fault Recovery Log and Functional Testing Log will be automatically created whenever a new Project is added.</h4>
