@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>


<address>
    Amazon Fulfillment Center BFI1<br />
    1800 140th Ave E<br />
    Sumner, WA 98390<br />
</address>

<address>
    Primary Admin: Zach Bitseff<br />
    Phone: (253)232-9224<br />
    <strong>Support:</strong>   <a href="mailto:zachbitseff@gmail.com">HardwareSupportDocumentsHelp</a><br />
</address>