@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hardware Support Documents</h1>
    
</div>
<div>
    <h3>
        This site was built for viewing and creating Fault Recovery Logs, 
        Functional Testing Logs, and Deficiency Reports for all projects being tested at BFI1.
    </h3>
    <p>
        There will also be a page that features links to internal pages that are commonly
        used by the team. 
    </p>
</div>