@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hardware Support Documents</h1>
    
</div>
<div>
    <p>
        This site was built for viewing and creating Fault Recovery Logs,
        Functional Testing Logs, and Deficiency Reports for all projects being tested at BFI1.
    </p>
    <p>
        There will also be a page that features links to internal pages that are commonly
        used by the team. 
    </p>
</div>