
@{
    ViewBag.Title = "Quicklinks";
}

<h2>Quicklinks</h2>

<!-- Must be Connected to Amazon Network(ANT)-->
<a href="https://www.inside.amazon.com/" target="_blank">Inside Amazon</a><br />
<a href="https://www.phonetool.com" target="_blank">Phone Tool</a><br />
<a href="https://amazon.awsapps.com/workdocs/index.html#/folder/a34071b283149d4e78ae622c7b35024cc956b821ff8a25574fd76a2d00f4cbd3" target="_blank">HSE WorkDocs</a><br />

<!-- General Links -->
<a href="https://www.google.com" target="_blank">Google</a><br />
<a href="https://www.github.com" target="_blank">GitHub</a><br />

